# to run this you need to create a .env file with the contents of .env_keycloak and fill the missing variables.
services:

  backend:
    container_name: DeepTSF-backend
    hostname: DeepTSF-backend
    # image: inergy2020iccs/deeptsf_backend:1.0.2  # only for releases
    build:
      context: ./
      target: backend
      dockerfile:  Dockerfile_keycloak
    restart: always
    ports:
      - '8081:8081'
    expose:
      - '8081'
    stdin_open: 
      true
    env_file:
      - .env
    depends_on:
      - redis
    # Uses all .env parameters
    deploy: # activate this if you want gpu usage
      resources:
        reservations:
          devices:
            - driver: nvidia
              capabilities: [gpu]
    networks:
       - keycloak_net
  
  worker:
    build:
      context: ./
      target: celery-worker
      dockerfile:  Dockerfile_keycloak
    restart: always
    env_file:
      - .env
    depends_on:
      - redis
    runtime: nvidia
    environment:
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=compute,utility
    mem_limit: 26g
    networks:
       - keycloak_net

  redis:
    image: redis:7-alpine
    restart: always
    networks:
       - keycloak_net

  dagster:
    container_name: DeepTSF--dagster-orchestrator
    hostname: DeepTSF--dagster-orchestrator
    restart: always
    # image: inergy2020iccs/deeptsf_dagster:1.0.1 # only for releases
    build:
      context: ./
      target: dagster
      dockerfile:  Dockerfile_keycloak
    depends_on:
      - redis
    runtime: nvidia
    environment:
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=compute,utility
    expose:
      - 8006
    ports:
      - 8006:8006
    env_file:
      - .env
      # Uses following .env parameters:
      # MLFLOW_TRACKING_URI
      # MLFLOW_S3_ENDPOINT_URL
      # AWS_ACCESS_KEY_ID
      # AWS_SECRET_ACCESS_KEY
    networks:
       - keycloak_net

  # frontend:
  #   container_name: load-forecasting-dashboard
  #   hostname: load-forecasting-dashboard
  #   # image: korbakis/load-forecasting-dashboard:0.1
  #   restart: always
  #   # build: ./load-forecasting-dashboard
  #   build: https://github.com/I-NERGY/DeepTSF.git
  #   # volumes: # this bind mount is maybe redundant?
  #   #   - ./src:/app/src # check if this works like that. relative paths are inside the build directory or the current directory?
  #   ports:
  #     - '3000:3000'
  #   stdin_open: true
  #   env_file:
  #     - .env # needs to add all variables of the front-end env_file to the current .env
  #   # environment:
  #   #   CHOKIDAR_USEPOLLING: true
  #   #   REACT_APP_NAME: Load_Forecasting_Dashboard
  #   networks:
  #     - load-forecasting-net

networks:
  keycloak_net:
    external: true